a {
    color: #4078c0;
}

.commit-tease {
	background-color: #f1f8ff;
}

.full-commit {
    background: #e6f1f6;
}

.full-commit .btn-outline:not(:disabled):hover {
	color: #4078c0;
    border: 1px solid #4078c0;
}

.btn-primary {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
    background-color: #6cc644;
    background-image: -webkit-linear-gradient(#91dd70, #55ae2e);
    background-image: linear-gradient(#91dd70, #55ae2e);
    border: 1px solid #5aad35;
}

.btn-primary:hover {
    background-color: #55a532;
    background-image: -webkit-linear-gradient(#85d063, #4f992f);
    background-image: linear-gradient(#85d063, #4f992f);
    border-color: #519d30;
}

.btn-primary:active, .btn-primary.selected, .btn-primary.zeroclipboard-is-active {
    background-color: #4b912c;
    background-image: none;
    border-color: #417e26;
}

.branch-action-state-clean .branch-action-icon {
    background-color: #6cc644;
}

.branch-action-state-clean .branch-action-body::before {
    border: 1px solid #5aad35;
}

.completeness-indicator-success {
    color: #fff;
    background-color: #6cc644;
    border-radius: 50%;
}

.state-open, .state-proposed, .state-reopened {
    background-color: #6cc644;
}
